img {
    width: 250px;
}

.tile {

    background-color: rgb(255, 250, 250);
    width: 240px;
    height: 240px;
    border-radius: 5px;
    position: absolute;
    bottom: 490px;
    left: 16px;

}

.h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

.icon {
    color: rgb(126, 126, 126);
    position: absolute;
    right: 0;
    top: 9px;
    right: 9px;
    font-size: 20px;
}

.gg {
    position: absolute;
    right: 9px;
}

.close {
    border-radius: 5px;
    font-size: 10px;
    color: white;
    background-color: rgb(108, 117, 125);
}

.send {

    color: white;
    border-radius: 5px;
    background-color: rgb(13, 110, 253);
}