* {
    margin: 0;
    padding: 0;
}

a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

.creter {
    gap: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.heard {
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    height: 30px;
    width: 100%;
    background-color: #333333;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

h2 {
    left: 300px;
}

.boody {
    margin-left: 200px;
    background-color: rgb(244, 244, 244);
    width: 600px;
    height: 190px;
    border-radius: 5px;
}

.p1 {
    color: blue;
}

.boody_2 {
    margin-left: 200px;
    background-color: rgb(244, 244, 244);
    width: 600px;
    height: 300px;
    border-radius: 5px;
}

.p2 {
    color: rgb(140, 167, 188);
    text-shadow: 0px;
}

.footer {
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 9px;
    height: 30px;
    width: 100%;
    background-color: #333333;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;

}