* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ccc;
}

.Home {
    a {
        text-decoration: none;
        height: 75px;
        color: #666666;
    }
}

.container {
    display: flex;

    width: 1440px;
    height: 3000px;
    background-color: #FFFFFF;
    position: relative;

}

.header {
    height: 1007.9295654296875px;
}

.container_card-navbar {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.navbar_logo {
    font-family: Montserrat;
    display: flex;
    margin: 33.5px 54px 34.5px;
    font-size: 34px;
}

.navbar_menu {
    font-family: "Open Sans", serif;

    font-size: 16px;

    a {
        text-decoration: none;
        color: #000000;
        margin: 75px 38px;
    }
}

.navbar_icon {
    margin-right: 100px;
    color: #000000;

    svg {
        margin-left: 48.5px;
    }
}

.header_main--bottom {
    position: relative;

    .bottom_banner {
        background-color: #FFF3E3;
        position: absolute;
        width: 643px;
        height: 443px;
        top: 153px;
        left: 739px;
        right: 58px;
        border-radius: 10px;
        font-family: "Open Sans", serif;

        .bottom_banner--NewArrival {
            color: #333333;
            font-size: 16px;
            margin-left: 39px;
            margin-top: 62px;
            font-weight: 500;
        }

        .bottom_banner--Discover {
            margin-left: 39px;
            font-size: 32px;
            color: #B88E2F;
            line-height: 65px;
        }

        p {
            margin: 17px 56px 46px 39px;
            font-size: 18px;
        }

        .buy {
            margin-left: 39px;
            background-color: #B88E2F;
            font-size: 16px;
            color: #FFFFFF;
            border: none;
            padding: 25px 72px;
            font-family: "Open Sans", serif;
        }
    }

}

.bottom {
    background-color: #FFFFFF;
    position: absolute;
    top: 810px;
    width: 1440px;
    padding: 56.7px 131px;

    .bottom_browse-range {
        font-family: "Open Sans", serif;
        text-align: center;
        line-height: 30px;

        .browse-range__title {
            font-size: 32px;
            color: #333333;
        }

        .browse-range__description {
            font-size: 20px;
            color: #666666;
            margin-top: 20px;
        }

    }

    .bottom_img {
        display: flex;
        gap: 20px;
        margin-top: 62.29px;

        .bottom_img--Dining {
            img {
                border-radius: 10px;
                margin-bottom: 30px;
            }

            text-align: center;

            h3 {
                font-size: 24px;
                color: #333333;
                font-size: 24px;
                font-family: "Open Sans", serif;
            }
        }

    }
}