* {
    margin: 0;
    padding: 0;
}

.heard {
    display: flex;
    color: white;
    gap: 5px;
    flex-wrap: wrap;
}

.header {
    display: flex;
    align-items: center;
    background-color: blue;
    width: 100%;

}

.main {
    display: flex;
    gap: 5px;
    flex: 1;
    text-indent: 5px;
    padding-top: 5px;


}

.sidebar {
    display: flex;
    background-color: chartreuse;
    height: 200px;
    justify-items: center;
    flex: 1;

}

.Content {
    background-color: coral;
    height: 200px;
    flex: 3;
}

.fooret {
    background-color: black;
    width: 100%;
    justify-content: space-evenly;
}