.header {
    background-color: rgb(17, 213, 17);
    color: white;


}

.name {
    text-align: center;
}

.Home {
    color: rgb(8, 31, 234);
    text-align: center;


}

.Home a {
    width: 20px;
}

.div1 {
    margin: 20px;
    border: 1px solid rgb(193, 193, 193);
    background-color: rgb(233, 233, 233);
    width: 300px;
    height: 600px;
}

.img {
    width: 300px;
}

.im {
    width: 100%;
}

.um {
    border-bottom: 1px solid rgb(142, 142, 142);

}

.footer {
    color: white;
    background-color: rgb(17, 16, 16);
    height: 50px;
    text-align: center;
    padding: 5px;
}