.pan {
    color: crimson;
}

.p1 {
    text-align: center;
    border: 3px solid green;
}

.div1 {

    background-color: rgb(223, 222, 222);

    padding-bottom: 14px;
}

.dvi2 {
    background-color: white;
    border-left: 5px solid forestgreen;
    padding: 10px;
}

.ss1 {
    color: brown;
}

.ss2 {
    color: coral;
}

.ss3 {
    color: blue;
}

.ss4 {
    color: chocolate;
}

.ss5 {
    color: blue;
}

p {
    margin: 0;
}

button {
    background-color: chartreuse;
    color: white;
    padding: 6px;
    border: 0pz;
}