* {
    margin: 0;
    padding: 0;
}

.all {

    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.ion {
    font-size: 10px;
    color: white;
    width: 20%;
    height: 30px;
}

button {
    font-size: 10px;
}

.input {
    margin-bottom: 10px;
}

.label {
    margin-bottom: 5px;
}