* {
    margin: 0;
    padding: 0;
}

.hed {
    border: 2px solid black;


    width: 500px;
    height: 80px;

}

.main_1 {
    display: flex;
    justify-items: center;
    color: white;
}

.item_1 {
    display: flex;
    background-color: rgb(128, 0, 128);
    width: 83px;
    height: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    margin: 3px;
}

.main_2 {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;


}


.item_7 {
    display: flex;
    background-color: rgb(128, 0, 128);
    width: 83px;
    height: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
}


.item_8 {

    display: flex;
    justify-content: flex-start;
    background-color: rgb(128, 0, 128);
    width: 83px;
    height: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;

}